<mat-drawer-container>
    <mat-drawer fxLayout="column"  mode="side" [opened]="opened">
        <mat-toolbar fxLayoutAlign="start center">
            <span>Frota</span>
        </mat-toolbar>
        <mat-nav-list fxLayout="column">
            <a fxFlex class="item" 
               matButton 
               routerLinkActive="active"
               [routerLink]="v.vessel_id" 
               *ngFor="let v of vessels">{{v.vessel_name}}</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>