<div fxFlex fxLayout="column" fxLayoutAlign="center" fxFlexFill>
<mat-toolbar fxFlex="80%" fxLayout="row" fxLayoutAlign="space-between center" class="filters">
    <mat-checkbox fxFlex="20%" (change)="filterStatus($event)">Mostrar Todos</mat-checkbox>
    <mat-form-field floatPlaceholder='auto' fxFlex="20%" *nyxAuth="'map:all'">
        <mat-select placeholder="Clientes" (selectionChange)="filterClient($event)">
            <mat-option>Todos</mat-option>
            <mat-option name="clients" *ngFor="let c of clients" [value]="c.client_id">
            {{ c.client_name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar>

<table mat-table matSort [dataSource]="devices">
    <ng-container matColumnDef="client_name">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element"> 
            <a [routerLink]="'/admin/clients/'+element.client_id"> {{element.client_name}}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="esn">
        <th mat-header-cell *matHeaderCellDef>ESN</th>
        <td mat-cell *matCellDef="let element"> 
            {{element.esn}}
        </td>
    </ng-container>
    <ng-container matColumnDef="vessel_name">
        <th mat-header-cell *matHeaderCellDef>Embarcação</th>
        <td mat-cell *matCellDef="let element"> 
            <a [routerLink]="element.vessel_id"> {{element.vessel_name}}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Situação</th>
        <td mat-cell *matCellDef="let element"> 
            {{status(element)}}
        </td>
    </ng-container>
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Última posição</th>
        <td mat-cell *matCellDef="let element"> 
            {{[element.lon, element.lat] | latLon }}
        </td>
    </ng-container>
    <ng-container matColumnDef="lastseen">
        <th mat-header-cell *matHeaderCellDef>em</th>
        <td mat-cell *matCellDef="let element" [matTooltip]="element.lastseen"> 
            {{element.lastseen | amTimeAgo}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols;" [ngClass]="style(row)"></tr>
</table>
</div>