.voyage-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.voyage-list-header {
    border-bottom: 2px solid darkgray;
}

.voyage-list-item {
    border-bottom: 1px solid lightgray;
}

/* ********************************************** */
/* ********************************************** */
.past {
    background-color: lightgray;
}

.prog {
/*    background-color: lightgoldenrodyellow;    */
}

.open {
    font-weight: bold;
/*    background-color: lightcoral;    */
}

.down { 
    background-color: black;
}

.down * { 
    color: white !important;
}

table a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
table a:hover {
    text-decoration: underline;
}


.fail { 
    color: firebrick;
}

.power {
    color: green;
}

.batt { 
    color: darkgrey;
}

.icon-status {
    margin-right: 1em;
}