version: "3"
services:

  pesus-db:
    image: mdillon/postgis
          
    networks: 
      - backend

    expose:
      - 5432
            
    ports:
      - 5432:5432
      
    environment:
      POSTGRES_PASSWORD: desg44
      POSTGRES_USER: inkas
          
  app:
    image: pesus/seapa
          
    ports:
      - 4040:4040
      
    expose:
      - 4040
            
    networks: 
      - backend

    depends_on:
      - pesus-db
      
    environment:
      - APP_PORT=4040
      - APP_NAME=PESUS => inkas:docker
#      - PG_HOST=pesus-db
#      - PG_DB=inkas
#      - PG_USER=inkas
#      - PG_PASS=desg44
      
networks:
  backend: