<mat-toolbar fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="print()"><mat-icon>print</mat-icon></button>

    <span fxFlex></span>
    
    <div *ngIf="!editing">
        <button mat-icon-button (click)="edit()"><mat-icon>edit</mat-icon></button>
    </div>
    <div *ngIf="editing">
        <button mat-icon-button (click)="save()"><mat-icon>save</mat-icon></button>
        <button mat-icon-button (click)="drop()"><mat-icon>highlight_off</mat-icon></button>
    </div>
</mat-toolbar>
<mat-spinner *ngIf="!ready"></mat-spinner>

<mat-tab-group dynamicHeight="false" *ngIf="ready" [(selectedIndex)]="tab">
    <mat-tab label="Armador">
        <div style="padding: 1em"></div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field floatPlaceholder='always' fxFlex>
                <input matInput  [disabled]="!editing" name="client_name" [(ngModel)]="client.client_name" placeholder="Nome">
            </mat-form-field>
            <mat-form-field floatPlaceholder='always' fxFlex>
                <input matInput  [disabled]="!editing" name="cnpj" [(ngModel)]="client.cnpj" placeholder="C.N.P.J.">
            </mat-form-field>
        </div>
    </mat-tab>

    
    <mat-tab label="Usuário">
        <div style="padding: 1em"></div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="120px">
                <img src="{{profile?.picture}}" class="avatar" alt="avatar">
            </div>
            <div fxFlex>
                <dl>
                    <dt>Nickname:</dt><dd>{{ profile?.nickname }}</dd>
                    <dt>Nome Completo:</dt><dd>{{ profile?.name }}</dd>
                    <dt>Localidade:</dt><dd>{{ profile?.locale }}</dd>
                    <dt>Último Login:</dt><dd>{{ profile?.updated_at | date:full}}</dd>
                </dl>
            </div>
        </div>
    </mat-tab>


    <mat-tab label="Documentos de Armador">
        <div style="padding: 1em"></div>
        
        <mat-selection-list #armador>
            <mat-list-option>RG do Armador</mat-list-option>
            <mat-list-option>CPF ou CNPJ do Armador</mat-list-option>
            <mat-list-option>Comprovante de Residência</mat-list-option>
            <mat-list-option>Comprovante de Pagamento de Taxa</mat-list-option>
            <mat-list-option>Certificado de Armador (Se AB > 100)</mat-list-option>
            <mat-list-option>Nada Consta do IBAMA</mat-list-option>
        </mat-selection-list>
    </mat-tab>


</mat-tab-group>
