<mat-drawer-container>
    <mat-drawer mode="side" [opened]="!opened">
        <mat-nav-list fxLayout="column">
            <a class="item"  fxFlex fxLayoutAlign="start center" [routerLink]="'new'">
                <mat-icon>add</mat-icon>
                <span>Novo Tripulante</span>
            </a>
            <mat-divider></mat-divider>
            <a fxFlex class="item" 
               matButton 
               routerLinkActive="active"
               [routerLink]="p.person_id" 
               *ngFor="let p of people">{{p.person_name}}</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>