#map-map {
    background-color: aqua;
    width: 100%;
    height: 93vh;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}



/* ******************************************************* */
/* ******************************************************* */
.popup-link {
    display: inline-flex;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


.popup-pos {
    display: inline-flex;
}

.popup-tstamp {
    display: inline-flex;
}


/* ******************************************************* */
/* ******************************************************* */
.fabs {
    position: absolute;
    left: 50px;
    padding: 10px;
    z-index: 1;
}

.fabs button {
    margin: 14px;
}



.vessel-client {
    font-size: 12px !important;
}

/* ******************************************************* */
/* ******************************************************* */
[matDialogTitle] {
    border-bottom: 1px solid black;
}

.mat-dialog-content {
    max-height: inherit !important;
    min-height: 35vh;
}

.trigger {
    font-size: 12px;
}

mat-accordion {
    flex-grow: 1;
    overflow: auto;
}