<mat-drawer-container>
    <mat-drawer #menu class="drawer" opened="true" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="space-around" class="nyx-tabs">
            <div fxFlex fxLayoutAlign="center center" 
                 (click)="menu.page=0" 
                 [ngClass]="{'active': !menu.page}">
                <mat-icon>directions_boat</mat-icon>
            </div>
            <div fxFlex fxLayoutAlign="center center" 
                 (click)="menu.page=1" 
                 [ngClass]="{'active': menu.page==1}">
                <mat-icon>settings</mat-icon>
            </div>
            <div fxFlex fxLayoutAlign="center center" 
                 (click)="menu.page=2" 
                 [ngClass]="{'active': menu.page==2}">
                <mat-icon>notifications</mat-icon>
            </div>
        </div>
        
        <div [ngSwitch]="menu.page" class="drawer-content">
            <div *ngSwitchCase="1" fxLayout="column" class="drawer-tab">
                <div fxFlex fxLayout="row" fxLayoutAlign="end">
                    <button mat-icon-button (click)="save()">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
                
                
                <span class="caption">Mostrar:</span>
                <mat-selection-list (selectionChange)="options($event)">
                    <mat-list-option checkboxPosition="before" value="names" [selected]="names">Nomes</mat-list-option>
                    <mat-list-option checkboxPosition="before" value="esnid" [selected]="isnid">ESN</mat-list-option>
                    <mat-list-option checkboxPosition="before" value="fleet" [selected]="fleet">Armador</mat-list-option>
                    <mat-list-option checkboxPosition="before" value="grade" [selected]="grade">Grade</mat-list-option>
                    <mat-list-option checkboxPosition="before" value="group" [selected]="group">Agrupar</mat-list-option>
                    <mat-list-option checkboxPosition="before" value="track" [selected]="track">Waypoints</mat-list-option>
                </mat-selection-list>

                <span class="caption">Camadas de Dados:</span>
                <mat-selection-list (selectionChange)="layers($event)">
                    <mat-list-option checkboxPosition="before" value="fleet" selected="true">Frota</mat-list-option>
                    <mat-list-option checkboxPosition="before" value="areas" selected="true">Áreas</mat-list-option>
                    <mat-list-option checkboxPosition="before" value="ports" selected="false" disabled>Portos</mat-list-option>
                    <mat-list-option checkboxPosition="before" value="baths" selected="false" disabled>Batimetria</mat-list-option>
                    <mat-list-option checkboxPosition="before" value="plats" selected="false" disabled>Plataformas</mat-list-option>
                </mat-selection-list>

                <span class="caption">Camadas Base:</span>
                <mat-button-toggle-group  (change)="baseLayers($event)" [value]="base" class="filters">
                    <mat-button-toggle fxFlex="33%" value="osm" checked="true">Mapa</mat-button-toggle>
                    <mat-button-toggle fxFlex="33%" value="sat">Sat.</mat-button-toggle>
                    <mat-button-toggle fxFlex="33%" value="dhn">D.H.N.</mat-button-toggle>
                </mat-button-toggle-group>        

                <span class="caption">Posição em:</span>
                <mat-button-toggle-group  (change)="coords($event)" [value]="unit" class="filters">
                    <mat-button-toggle fxFlex="33%" value="nil" checked="true">Sem</mat-button-toggle>
                    <mat-button-toggle fxFlex="33%" value="utm">UTM</mat-button-toggle>
                    <mat-button-toggle fxFlex="33%" value="dms">DMS</mat-button-toggle>
                </mat-button-toggle-group>        

                <span class="caption">Agrupamento:</span>
                <mat-slider fxFlex thumbLabel class="slider"
                            [disabled]="!group"
                            step="20" min="0" max="100" 
                            (change)="cluster()"
                            [(ngModel)]="cRadius"></mat-slider>
                
                <br/>
                <span class="caption">Espaçamento:</span>
                <mat-slider fxFlex thumbLabel class="slider"
                            step="20" min="20" max="100" 
                            (change)="tracksChange()"
                            [(ngModel)]="cTracks"></mat-slider>
            </div>
            <div *ngSwitchCase="2" fxLayout="column" class="drawer-tab">
                <span class="caption">Áreas:</span>
                <mat-selection-list (selectionChange)="zones($event)">
                    <mat-list-option checkboxPosition="before" [value]="a"
                                     *ngFor="let a of areas">
                        {{a.geometry_name}}
                    </mat-list-option>                    
                </mat-selection-list>
            </div>
            <div *ngSwitchDefault>
                <mat-expansion-panel *nyxAuth="'map:all'">
                    <mat-expansion-panel-header>
                        <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
                        <mat-panel-description>Filtros</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxLayout="column" >
                        <mat-form-field floatPlaceholder='always' fxFlex class="filters">
                            <mat-select placeholder="Clientes" (selectionChange)="filterClient($event)">
                                <mat-option>Todos</mat-option>
                                <mat-option name="clients" *ngFor="let c of clients" [value]="c.client_id">
                                {{ c.client_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>                
                <mat-accordion fxFlexFill cdkScrollable>
                    <mat-expansion-panel *ngFor="let v of vessels">
                        <mat-expansion-panel-header>
                            <mat-panel-title fxLayoutAlign="start center">
                                <mat-icon *ngIf="marked(v)">star</mat-icon>
                                <mat-icon *ngIf="!marked(v)">star_border</mat-icon>
                                <div fxLayout="column" style="padding-left: 0.7em">
                                    <span>{{v.vessel_name}}</span>
                                    <small *nyxAuth="'map:all'">{{v.client_name}}</small>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div fxLayout="column" fxLayoutAlign="start">
                            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="vessel-actions">
                                <a [routerLink]="'/vessels/'+v.vessel_id">detalhes</a>
                                <span fxFlex></span>
                                <button mat-icon-button matTooltip="Localizar"
                                        (click)="seek(v)"><mat-icon>find_in_page</mat-icon></button>
                                <button mat-icon-button matTooltip="Selecionar"
                                        (click)="show(v)"><mat-icon>pin_drop</mat-icon></button>
                            </div>
                            <mat-checkbox [checked]="true" (change)="markers($event,v)">Mostrar no Mapa</mat-checkbox>
<!--                            <mat-checkbox (change)="tracks($event,v)">Traçar Rota</mat-checkbox>-->
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-drawer>
    
    <mat-drawer-content>
        <div id="map-map">
            <div class="fabs">
                <button mat-fab (click)="menu.open()"><mat-icon>menu</mat-icon></button>
                <button mat-fab (click)="reset()"><mat-icon>gps_fixed</mat-icon></button>

                <rb-fab-speed-dial mode="scale" openIcon="edit" direction="down">
                    <button mat-mini-fab rbFabItem (click)="tool('none')">
                        <mat-icon>call_made</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem (click)="tool('query')">
                        <mat-icon>question</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem (click)="tool('select')">
                        <mat-icon>details</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem  (click)="tool('measureLine')">
                        <mat-icon>timeline</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem (click)="tool('measurePoly')">
                        <mat-icon>aspect_ratio</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem  (click)="tool('drawLine')">
                        <mat-icon>timeline</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem (click)="tool('drawPoly')">
                        <mat-icon>aspect_ratio</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem (click)="tool('save')">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem  (click)="tool('edit')" *nyxAuth="'map:all'">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem (click)="tool('remove')" *nyxAuth="'map:all'">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem  (click)="tool('move')" *nyxAuth="'map:all'">
                        <mat-icon>pan_tool</mat-icon>
                    </button>
                    <button mat-mini-fab rbFabItem (click)="tool('clear')">
                        <mat-icon>clear</mat-icon>
                    </button>
                </rb-fab-speed-dial>
            </div>
        </div>    
        <div id="popup" class="ol-popup" fxLayout="column">
            <a class="popup-link" [routerLink]="['/vessels/'+selected?.vessel_id]">
                {{selected?.vessel_name}} <small>({{selected?.esn}})</small>
            </a>
            <span>
                {{[selected?.lon, selected?.lat] | latLon}}
            </span>
            <span *ngIf="selected?.sog !== null && selected?.head !== null">
                {{selected?.sog * 1852/3600|number:'1.0-1'}} kn &ang;  {{selected?.head|number:'1.0-1'}}&deg; ({{selected?.head|headTo}})
            </span>
            <span>
                {{selected?.lastseen | amLocal | amDateFormat: 'HH:mm DD/MMM'}}
                <small>({{selected?.lastseen | amTimeAgo}})</small>        
            </span>   
            <button (click)="dropTrack(selected)">Limpar</button>
            <button (click)="showTrack(selected)">Rota</button>
            <input fxFlex type="text" 
                   linkedCalendars="false"
                   [ranges]="ranges"
                   [showClearButton]="true"
                   placeholder="No Período"
                   ngxDaterangepickerMd [(ngModel)]="selected.range" class="form-control" 
                   (change)="changeRange(selected)"/>

            <input fxFlex="3em"
                   (colorPickerChange)="changeColor(selected)"
                   [cpOKButton]="true"
                   [cpCancelButton]="true"
                   [(colorPicker)]="selected.color" 
                   [style.background-color]="selected.color"/>
        </div>
    </mat-drawer-content>
</mat-drawer-container>