<mat-toolbar color="primary">
    <ng-container *ngIf="auth.isAuthenticated()">
        <a mat-icon-button routerLinkActive="active" routerLink="/map"    
           class="icon" aria-label="Mapas" matTooltip="Mapas">
            <mat-icon>language</mat-icon>
        </a>
        <!-- User -->
        <a mat-icon-button routerLinkActive="active" routerLink="/vessels"    
           class="icon" aria-label="Embarcações" matTooltip="Embarcações" *nyxAuth="'read:vessel'">
            <mat-icon>directions_boat</mat-icon>
        </a>
        <a mat-icon-button routerLinkActive="active" routerLink="/staff" 
           class="icon" aria-label="Pescadores" matTooltip="Pescadores" *nyxAuth="'read:crew'">
            <mat-icon>person</mat-icon>
        </a>
        <!-- Admin -->
        <a mat-icon-button routerLinkActive="active" routerLink="/clients" 
           class="icon" aria-label="Clientes" matTooltip="Clients" *nyxAuth="'read:client'">
            <mat-icon>account_balance</mat-icon>
        </a>
        <a mat-icon-button routerLinkActive="active" routerLink="/users"    
           class="icon" aria-label="Usuários" matTooltip="Usuários" *nyxAuth="'read:user'">
            <mat-icon>people</mat-icon>
        </a>
        <span fxFlex></span>
        <a mat-menu-item *nyxAuth="'read:profile'"
           routerLinkActive="active" [routerLink]="'/users/'+profile.user_id"    
           aria-label="Pescadores">
            <span class="login" *ngIf="!handset">{{ profile?.nickname }}</span>
            <img src="{{profile?.picture}}" class="avatar" alt="avatar">
        </a>
        <button mat-icon-button
                (click)="auth.logout('/login')"   
                    aria-label="Sair" matTooltip="sair">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </ng-container>

    <ng-container *ngIf="!auth.isAuthenticated()">
        <span fxFlex class="text-center">Pesca Sustentável</span>
        <button mat-icon-button
                (click)="auth.login()"   
                    aria-label="Entrar" matTooltip="entrar">
            <mat-icon>play_for_work</mat-icon>
        </button>
    </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>