<mat-drawer-container>
    <mat-drawer fxLayout="column" mode="side" [opened]="opened">
        <mat-toolbar fxLayoutAlign="space-between center">
            <span>Pescadores</span>

            <a mat-icon-button [routerLink]="'new'" *nyxAuth="'create:crew'">
                <mat-icon>person_add</mat-icon>
            </a>
        </mat-toolbar>
        <mat-nav-list fxLayout="column">
            <a fxFlex class="item" 
               matButton 
               routerLinkActive="active"
               [routerLink]="p.person_id" 
               *ngFor="let p of people">{{p.person_name}}</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>