<mat-drawer-container>
    <mat-drawer mode="side" [opened]="opened" fxLayout="column">
        <mat-toolbar  fxLayoutAlign="space-between center">
            <mat-icon (click)="filter=!filter"
                      matTooltip="Mostrar Filtros" >tune</mat-icon>
            <mat-icon style="color: lightgray">more_vert</mat-icon>
            <span>Viagens</span>

            <a mat-icon-button *nyxAuth="'create:voyage'"
               matTooltip="Nova Viagem" [routerLink]="'new'">
                <mat-icon>add</mat-icon>
            </a>
        </mat-toolbar>

        <div *ngIf="filter" fxLayout="column" fxFlexLayout="center center" class="filters">
            <mat-form-field floatPlaceholder='always'>
                <mat-select name="vessel" placeholder="Barco"
                            (selectionChange)="setFilter()"
                            [(ngModel)]="vessel_id">
                    <mat-option>Todos</mat-option>
                    <mat-option *ngFor="let v of vessels" [value]="v.vessel_id">
                    {{ v.vessel_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <div fxLayout="row" fxLayoutAlign="space-around" class="nyx-tabs">
                <div fxFlex fxLayoutAlign="center center" 
                     matTooltip="Todas" 
                     (click)="setFilter(0)" 
                     [ngClass]="{'active': !status_id}">
                    <mat-icon>waves</mat-icon>
                </div>
                <div fxFlex fxLayoutAlign="center center" 
                     matTooltip="Programadas" 
                     (click)="setFilter(1)" 
                     [ngClass]="{'active': status_id==1}">
                    <mat-icon>schedule</mat-icon>
                </div>
                <div fxFlex fxLayoutAlign="center center" 
                     matTooltip="Correntes" 
                     (click)="setFilter(2)" 
                     [ngClass]="{'active': status_id==2}">
                    <mat-icon>update</mat-icon>
                </div>
                <div fxFlex fxLayoutAlign="center center" 
                     matTooltip="Finalizadas" 
                     (click)="setFilter(3)" 
                     [ngClass]="{'active': status_id==3}">
                    <mat-icon>done</mat-icon>
                </div>
            </div>
        </div>            
    
        <mat-nav-list fxLayout="column">
            <a fxLayout="column"
               matButton class="item"  
               routerLinkActive="active"
               [routerLink]="v.voyage_id" 
               *ngFor="let v of voyages">
                <span>{{v.vessel.vessel_name}}</span>
                <small [ngSwitch]="v.status_id">
                    <em *ngSwitchCase="1">ETD: {{v.etd|date:'dd/MMM/yy HH:mm'}} ({{v.etd|amTimeAgo}})</em>
                    <strong *ngSwitchCase="2">ATD: {{v.atd|date:'dd/MMM/yy HH:mm'}} ({{v.atd|amTimeAgo}})</strong>
                    <span *ngSwitchCase="3">ATA: {{v.ata|date:'dd/MMM/yy HH:mm'}} ({{v.ata|amTimeAgo}})</span>
                    <span *ngShitchDefault>assert(voyage.status_id)</span>
                </small>
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>