#map-map {
    background-color: aqua;
    width: 100%;
    height: calc(100vh - 64px);
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

/* ******************************************************* */
/* ******************************************************* */
.fabs {
    position: absolute;
    left: 50px;
    padding: 10px;
    z-index: 1;
}

.fabs button {
    margin: 14px;
}

.vessel-actions {
    padding-top: 1.5em;
    padding-bottom: 1.0em;
}

.vessel-client {
    font-size: 12px !important;
}

/* ******************************************************* */
/* ******************************************************* */
[matDialogTitle] {
    border-bottom: 1px solid black;
}

.mat-dialog-content {
    max-height: inherit !important;
    min-height: 35vh;
}

mat-selection-list {
    padding-top: 0px;
}
    
.trigger {
    font-size: 12px;
}

mat-accordion {
    flex-grow: 1;
    overflow: auto;
}

.slider {
    padding: 8px 0px; 
}

.drawer {
    width: 300px;
}

.drawer-tab { 
    padding: 0px 16px;
}

.drawer-content {
  overflow: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:64px;
}

.caption {
    margin-top: 1em;
}