#map * {
    background-color: white;
}

#map {
    display: flex;
    height: auto;
}

#map-map {
    border: 1px solid red;
    background-color: aqua;
    
    width: 100%;
  height: 93vh;
}

#map-dtb {
    border: 1px solid green;
}


#feat-name {
    border: 2px solid gray;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px 10px;
}


svg {
  fill: blue;
}