<mat-toolbar fxLayoutGap="2em">

    <button mat-icon-button matTooltip="Visão Inicial" 
            (click)="reset()">
        <mat-icon>my_location</mat-icon>
    </button>
    
    <mat-button-toggle-group multiple>
        <mat-button-toggle matTooltip="Info"
                           (change)="info($event.source.checked)">
            <mat-icon>place</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group #et="matButtonToggleGroup" 
                             (change)="change(et.value)" 
                             [value]="eventtype">
        <mat-button-toggle *ngFor="let a of eventtypes" [matTooltip]="a.eventtype_desc" [value]="a">
            <mat-icon>{{a.icon}}</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <span fxFlex class="text-center">{{eventtype?.eventtype_desc}}</span>
                  
    
    <mat-form-field floatPlaceholder='never'>
        <mat-select placeholder="Região"
                    (change)="filtersChange()"
                    [(ngModel)]="filter.fGeo">
            <mat-option [value]="null">--</mat-option>
            
            <mat-optgroup *ngFor="let dtb of filter.vGeo"
                          [label]="dtb.geo_name">
                <mat-option *ngFor="let g of dtb.bairros" [value]="g">
                {{ g.geo_name }}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <mat-form-field floatPlaceholder='never'>
        <mat-select placeholder="Situação"
                    (change)="filtersChange()"
                    [(ngModel)]="filter.fSts">
            <mat-option [value]="null">--</mat-option>
            <mat-option *ngFor="let e of filter.vSts" [value]="e">
            {{ e.eventstatus_desc }}
            </mat-option>
        </mat-select>
    </mat-form-field>    

</mat-toolbar>
<div id="map-map">
    <div id="feat-name"></div>
</div>    